.logoImg{
  margin-top: 50px;
  width: 500px ;
  height: 420px;
  margin-left: 38%;
  
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  
}
.gridDiv{
  padding-left: 20px;
  display: grid;
  grid-template-columns: 50% 50%;

  margin:95px;

}

.portfolioImg{
  width: 350px ;
  height: 420px;
  margin-left: 30px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transition: transform .2s;
}

.portfolioImg:hover{
  transform: scale(1.2);
}
.navBar {
  display: flex;
  flex-direction: row;
  
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  align-items: center;
  min-height: 50px;
  padding-left: 30px;
  background-color:#ede1d4 !important;
}

.navBarItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 15px;
  text-decoration: none;
  color: #978777;
}

.card-title{
  height: 50px;
}
.card-text{
  padding: 0px;
  color: gray;
}

.cart-num {
  background-color: #978777;
  border-radius: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 10px;
  margin-left: 20px;
  text-decoration: none;
  color:black;
  float: right !important;
  overflow: hidden;

}

.link
  {
    text-decoration: none;
    color: white;
  }
  .link:hover
  {
    text-decoration: none;
    color: white;
  }

  .logo{
    width:100px;
    height:70px;
  }

  .footer-div{
    background-color: #ede1d4;
    padding: 20px;
    
  }
  .info{
    text-align: center;
  }
  .footer{
    text-align: center;
  
  }

  form{
    margin-left: 15%;
  }
  .form-div{
    margin-top:7%;
    margin-left:30%;
    margin-bottom: 8%;
    background-color: #ede1d4;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 500px;
    border-radius: 10px;
  }
  .formSentMsg{
    visibility :"hidden"
  }
  #porukaUspešno{
    width: 600px;
    height: 40px;
    box-shadow: 0 8px 16px 0 #bbdabb;
    background-color: #90EE90;
    color: black;
    margin-left: 26%;
    padding: 10px;
  
  }
  #uspešno{
    width: 600px;
    height: 40px;
    background-color: #90EE90;
    color: black;
    margin-left: 26%;
    margin-bottom: 30px;
    padding: 10px;
  }
  
  #porukaNeuspešno{
    width: 600px;
    height: 40px;
    background-color: #D0B8A8;
    color: black;
    margin-left: 26%;
    padding: 10px;
  
  }

  input{
    border: 1px solid rgb(165, 164, 164);
    border-radius: 3px;
  }

  