.logoImg{
  margin-top: 50px;
  width: 500px ;
  height: 420px;
  margin-left: 38%;
  
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  
}
.gridDiv{
  padding-left: 20px;
  display: grid;
  grid-template-columns: 50% 50%;

  margin:95px;

}

.portfolioImg{
  width: 350px ;
  height: 420px;
  margin-left: 50px;
  
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  
}
.navBar {
  display: flex;
  flex-direction: row;
  
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  align-items: center;
  min-height: 50px;
  padding-left: 30px;
  background-color:#ede1d4 !important;
}

.navBarItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 15px;
  text-decoration: none;
  color: #978777;
}

.card-title{
  height: 50px;
}
.card-text{
  padding: 0px;
  color: gray;
}

.cart-num {
  background-color: #978777;
  border-radius: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 10px;
  margin-left: 20px;
  text-decoration: none;
  color:black;
  float: right !important;
  overflow: hidden;

}

.link
  {
    text-decoration: none;
    color: white;
  }
  .link:hover
  {
    text-decoration: none;
    color: white;
  }

  .logo{
    width:100px;
    height:70px;
  }